body {
	margin: 0;
	background-color: #f3f3f3;
}
*, a, a:hover {
	text-decoration: none;
}
small {
	font-size: .4em;
}
.spacer {
	padding-top: 65px;
}
.loading {
	margin-top: 65px;
	text-align: center;
}
.loading img {
	width: 35px;
}
#container {
	max-width: 960px;
	width: 100%;
	min-height: 100vh;
	padding: 0 10px;
	background-color: #fff;
	overflow: hidden;
	margin: 0 auto;
}
#header {
	margin: 0 auto;
	text-align: right;
}
#header h1{
	padding: 10px 10px 0;
	background-color: #f60;
	margin: 0;
	color: #fff;
	position: absolute;
	top: -1.5em;
	right: 0;
	width: auto;
}
#header h1 small{
	color: #999;
}
#menu:hover #header {
	width: 100%;
}
#content {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 50px; 
	overflow: hidden;
}
#header.home {
	margin-top: 30vh;
	text-align: center; 
}
.generate-form {
	text-align: center;
}
.fade-in.ng-enter {
	-webkit-transition: 2s ease;
	transition: 2s ease;
	opacity:0;
	margin-top: 210px;
}
.fade-in.ng-enter-active {
	opacity:1;
	margin-top: 0px;
}
.fade-in.ng-leave {
	-webkit-transition: 2s ease;
	transition: 2s ease;
	opacity:1;
	margin-top: 0px;
}
.fade-in.ng-leave-active {
	opacity:0;
	margin-top: 200px;
}
#menu {
	position: fixed;
	z-index: 10;
	top: 10vh;
	margin-left: -165px;
	min-width: 140px; 
	width: 10px;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
#menu:hover {
	width: 240px;
}
.photoset-titles {
	overflow: hidden;
	padding-left: 0;
	max-height: 60vh;
	overflow-y: scroll;
	margin: 0;
}
.photoset-titles li {
	overflow: hidden;
	font-size: .6em;
	padding: 10px;
	background-color: #fff;
	border-right: 1px solid #f60;
	text-align: right;
	border-bottom: 1px solid #eee;
	-webkit-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s;
}
#menu:hover .photoset-titles li {
	border-right: 10px solid #f60;
	background-color: #fff;
	text-align: right;
}
.photoset-titles li a h2 {
	margin: 0px;
	color: #f60;
	white-space: nowrap;
}
#menu .photoset-titles li:hover {
	background-color: #f60;
	margin-left: 20px;
}
.photoset-titles li:hover a h2 {
	color: #fff;
}
.photoset {
	width: 100%;
	overflow: hidden;
	clear: both;
}
.photoset-inner {
	width: 100%;
	margin-top: 50px;
	position: relative;
	float: left;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.photoset-inner .photoset-cover {
	width: 100%;
}
.photoset-cover {
	z-index: 1;
}
.photoset-slide-container {
	opacity: 0;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.photoset-slide-inner {
	position: absolute;
	z-index: 3;
	top: 40px;
	padding: 80px 0;
}
.photoset-slide-container:hover {
	opacity: 1;
}
.moveL, .moveR {
	width: 90px;
	height: 140px;
	top: 135px;
	position: absolute;
	z-index: 4;
}
.moveL {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
	background: -moz-linear-gradient(left,  rgba(255,255,255,.8) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,.8) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,.8) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
.moveR {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	position: absolute;
	right: 0px;
}
.photoset-slides {
	background-color: rgba(255,255,255,.75);
	border: 2px 0 2px solid #f60;
	padding: 10px 0;
	height: 120px;
	margin-left: 0px;
	-webkit-transition: 2s;
	-o-transition: 2s;
	transition: 2s;
}
.photoset-slides li {
	list-style:none;
	float: left;
	position: relative;
	z-index: 2;
}
.photoset-slides li img {
	display: block;
	margin-right: 10px;
	width: 120px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.photoset-slides li:hover img {
	width: 140px;
	margin-top: -10px;
}
.photoset h1 {
	color: rgba(0,0,0,0);
	background-color: rgba(255,255,255,0);
	padding: 0px 25px 0px 10px;
	display: inline-block;
	position: absolute;
	bottom: 15px;
	z-index: 2;
	-webkit-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s;
}
.photoset:hover h1 {
	color: rgba(0,0,0,1);
	background-color: rgba(255,255,255,1);
}


@media (max-width: 1439px) {
	#menu {
		position: fixed;
		top: 50px;
		margin-left: 0;
		padding-right: 20px;
		min-width: 280px;
	}
	#menu:hover {
		width: 560px;
	}
	.photoset-titles {
		overflow: hidden;
		padding-left: 0;
		max-height: 60vh;
		overflow-y: scroll;
		margin: 0;
	}
	.photoset-titles li {
		width: 0px;
		padding: 10px 0px;
		text-align: left;
	}
	#menu:hover .photoset-titles li {
		width: 240px;
		text-align: left;
		padding-left: 15px;
	}
	.photoset-titles li a h2 {
		font-size: 2em;
	}
	#header	{
		text-align: left; 
	}
	#header h1{
		font-size: 2.4em;
		top: -1.5em;
		left: 0;
	}
}
.modal-no-scroll {
	overflow: hidden;
}
#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	z-index: 10;
}
#modal-inner {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	background-color: #fff;
	margin: 0 auto;
	overflow: scroll;
	z-index: 50;
}
#modal-inner img {
	float: left;
}