body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.gallery img {
	height: 100px;
	margin-right: 10px;
}
.gallery img.hidden
{
    display: none
}