body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#gallery li {
	list-style-type: none;
	display: inline;
}
#gallery li.hidden
{
    display: none;
}

.fade-in.ng-enter 
 {
     -webkit-transition: 2s;
     transition: 2s;
     opacity:0;
 }
 .fade-in.ng-enter-active 
 {
     opacity:1;
 }
 .fade-in.ng-leave 
 {
     -webkit-transition: 2s;
     transition: 2s;
     opacity:1;
 }
 .fade-in.ng-leave-active 
 {
     opacity:0;
 }