<div id="modal" ng-init="scrollOff()">
	<div id="modal-inner" click-outside="go();">
		<!-- <h1>{{ photos.title }}</h1> -->
		<flex-slider slide="photo in photos.photo track by $index" animation="slide" control-nav="thumbnails">
		  <li data-thumb="https://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_q.jpg">
		    <img ng-src="https://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_b.jpg">
		  </li>
		</flex-slider>
	</div>
</div>
